.formatDiv {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    /* align-items: center; */
    width:fit-content;
    align-items: center;
    margin: 8px;
}